@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(191, 219, 247);
}
p {
  text-align: center;
  margin: auto;
  padding: 2vw;
}
header {
  background-color: rgba(2, 43, 58);
  margin: 0%;
  text-align: center;
  padding: 5vw;
  font-size: 4vw;
}
.encabezado {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: sticky;
  top: 0%;
  z-index: 1;
}
.encabezado button {
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.encabezado:hover button span {
  color: rgba(0, 0, 0, 0.553);
}
.encabezado button:hover span {
  color: #000;
  background-color:  rgba(0, 0, 0, 0.141);
}
.encabezado ul {
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1.5%;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  background-color: rgb(31, 122, 140);
}
.encabezado ul li {
  margin: auto;
  cursor: pointer;
  text-align: center;
}
.encabezado ul li:hover:after {
  transform: scaleX(1);
}
body::-webkit-scrollbar {
  width: 1vw;
}
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 122, 140);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}
.descripcion {
  text-align: center;
  margin: auto;
  padding: 2vw;
}
.resultado {
  margin: 0%;
  font-size: 2vw;
}
.boton {
  margin: 0vw 3vw 0vw 3vw;
}
input {
  text-align: center;
  margin: 1vw;
  padding: 1vw;
  font-size: 2vw;
}